@charset "UTF-8" ;

body{
    background-color: rgb(236, 226, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
 }
 h1{
    color: rgb(241, 241, 250);
    background-color: rgb(14, 13, 13);
 }
 h2{
    color: darkred;
 }
 p{text-align: justify;}